body {
  background-color: darkslategray !important;
}

a {
  display: block;
}

.newsfeed-title {
  padding-left: 25px;
  font-family: sans-serif;
  color: darkgray;
  margin-top: 20px;
}

.newsfeed-url {
  font-style:'italic';
  color: orange;
  font-family:'Times New Roman', Times, serif
}

.container-margin {
  margin-top: 20px;
}

.news-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 7px 7px;
  margin-top: 15px;
  overflow-x: clip;
}

.float-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.mid {
  padding: 10px;
}

.source {
  padding-right: 25px;
  font-family: serif;
  font-weight: bold;
  color:steelblue;
  margin-bottom: 15px;
}

.article {
  background-color: #dfdfdf;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.alternate {
}

.inner-news-container {
  display: flex;
  padding: 10px;
}

.inner-container {
  flex: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f4f4f4;
  text-align: left;
  border-radius: 5px 5px;
}

.description {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.filter-area {
  display: inline-flex;
}

.filter-by {
  font-size: 15px;
}

.trim {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 28ch;
  max-height: 3ch;
}

.padding-right {
  padding-right: 20px;
}

.arrow-btn {
  font-weight: bolder;
}

.btn-heading {
  margin-top: 7px;
  margin-right: 10px;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 1rem;
}

.btn-fetch {
  width: 5rem;
  font-size: 1.5rem !important;
  border: 4px solid #cccccc !important;
  border-radius: 15px !important;
}

.fetch-news {
  background-color: grey;
  border-radius: 15px;
}

.overflow {
  text-overflow: ellipsis;
}

.sorting {
  margin-top: 7px;
}

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 575px) {
  .btn-fetch {
    width: 6rem !important;
  }
}